<ea:asset.css priority="1" identifier="gallerycontentCssSettings">
    .sl-overlay {
        background: #000;
    }

    .sl-wrapper .sl-close::before,
    .sl-wrapper .sl-close::after,
    .sl-wrapper .sl-prev::before,
    .sl-wrapper .sl-prev::after,
    .sl-wrapper .sl-next::before,
    .sl-wrapper .sl-next::after {
        background-color: #fff;
    }

    .sl-wrapper .sl-counter,
    .sl-wrapper button {
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
    }
</ea:asset.css>
