<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
        <f:asset.css identifier="styles" href="{settings.defaultStyles}" />
        <f:if condition="{data.image_zoom} && {settings.enableLightbox}">
            <f:asset.css identifier="simpleLightbox" href="EXT:gallerycontent/Resources/Public/Styles/simple-lightbox.min.css" />
        </f:if>
        <f:variable name="imageCount"><f:count subject="{assets}" /></f:variable>
        <f:if condition="{imageCount} < {data.imagecols}">
            <f:then><f:variable name="colCount">{imageCount}</f:variable></f:then>
            <f:else><f:variable name="colCount">{data.imagecols}</f:variable></f:else>
        </f:if>
        <f:variable name="spaceWidth">{settings.imagePadding}</f:variable>
        <f:variable name="spaceWidthTotal">{colCount - 1 * spaceWidth}</f:variable>
        <f:variable name="itemWidth">{100 - spaceWidthTotal / colCount}</f:variable>
        <f:variable name="imageWidthSet">{settings.imageWidth}</f:variable>
        <f:variable name="spaceInPx">{colCount - 1 * settings.imagePadding / 100 * imageWidthSet}</f:variable>
        <f:variable name="imageWidth">{imageWidthSet - spaceInPx / colCount}</f:variable>
        <f:variable name="imageWidth_x2">{imageWidth * 2}</f:variable>

		<f:if condition="{data.tx_gallerycontent_template} == 0">
			<div id="gallerycontent-{data.uid}" class="gallerycontent ce-gallery template-{data.tx_gallerycontent_template} colcount-{colCount}">
				<f:for each="{assets}" as="asset" iteration="iterator">
					<f:render partial="Item" arguments="{_all}" />
				</f:for>
				<f:if condition="{pagination.numberOfPages} > 1">
					<f:render partial="Pagination" arguments="{pagination:pagination}" />
				</f:if>
			</div>
		</f:if>
        <f:if condition="{data.image_zoom} && {settings.enableLightbox}">
            <f:asset.script identifier="simpleLightbox" src="EXT:gallerycontent/Resources/Public/JavaScript/simple-lightbox.min.js" />
        </f:if>
	</f:section>
</html>
